In [1]:
#Import mandatory libraries 
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
r = requests.get('https://httpbin.org/basic-auth/user/pass', auth=(('user', 'pass')))

print(r.status_code)

200

In [3]:
#Read website list, get website name and try to find its instagram page
data = pd.read_csv('vtex.txt', sep=' ', header=None, names=["Site"])

print(data)

                             Site
0                 casashow.com.br
1                winestore.com.br
2                     socd.com.br
3            ricardoeletro.com.br
4                superprix.com.br
...                           ...
18422     lojademanometros.com.br
18423      sisalsulatacado.com.br
18424  andersonmaquininhas.com.br
18425             zapcloud.com.br
18426     lilyfieldfashion.com.br

[18427 rows x 1 columns]

In [4]:
pages = data['Site'].str.split('.', expand=True)

pages

                         0    1   2     3
0                 casashow  com  br  None
1                winestore  com  br  None
2                     socd  com  br  None
3            ricardoeletro  com  br  None
4                superprix  com  br  None
...                    ...  ...  ..   ...
18422     lojademanometros  com  br  None
18423      sisalsulatacado  com  br  None
18424  andersonmaquininhas  com  br  None
18425             zapcloud  com  br  None
18426     lilyfieldfashion  com  br  None

[18427 rows x 4 columns]

In [5]:
pages.columns

RangeIndex(start=0, stop=4, step=1)

In [7]:
pages = pages.rename({0:'Nome do site'}, axis=1)

pages

              Nome do site    1   2     3
0                 casashow  com  br  None
1                winestore  com  br  None
2                     socd  com  br  None
3            ricardoeletro  com  br  None
4                superprix  com  br  None
...                    ...  ...  ..   ...
18422     lojademanometros  com  br  None
18423      sisalsulatacado  com  br  None
18424  andersonmaquininhas  com  br  None
18425             zapcloud  com  br  None
18426     lilyfieldfashion  com  br  None

[18427 rows x 4 columns]

In [8]:
#Number of instagram followers
for page in pages['Nome do site']:
    page_instagram = 'https://www.instagram.com/' + page
    print(page_instagram)
    r = requests.get(page_instagram)
    soup = BeautifulSoup(r.content)
    followers = soup.find('meta', {'name': 'description'})['content']
    follower_count = followers.split('Followers')[0]
    print(follower_count)
    break

https://www.instagram.com/casashow
45K